@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 0.9524vw;
}

@media (min-width: 1680px) {
  html {
    font-size: 16px;
  }
}

@font-face {
  font-family: "Exo-2";
  font-display: swap;
  src: url("/fonts/Exo2-VariableFont_wght.ttf") format("ttf");
}
@font-face {
  font-family: "montserrat";
  font-display: swap;
  src: url("/fonts/Montserrat-VariableFont_wght.ttf");
}
